Source: connui-conndlgs-dev
Priority: optional
Maintainer: Jonathan Wilson <jfwfreo@tpgi.com.au>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Section: net

Package: connui-conndlgs-dev
Section: net
Architecture: all
Depends: icd2-osso-ic-dev
Description: Header file for linking to osso-connectivity-ui-conndlgs
